{% extends "base.html" %}

{% block title %}Flasky - Wait for your confirm{% endblock %}

{% block page_content %}

<div class='informs'>
    <h4>Confirm complete</h4>
    <p>
        <span class='key-message'>操作成功</span>
        <span id='timer'>30</span>秒后将自动跳转回首页。
    </p> 
    <div class='jump-button'>
        <button type="submit" class="btn btn-default pull-right" onclick="location='{{ url_for('main.index') }}'">立即跳转</button>
    </div>
</div>

<script type="text/javascript">
    function timetojump(second, jumpurl){
    var timer = document.getElementById('timer');
    timer.innerHTML = second;
    if (--second>0){
        setTimeout("timetojump("+second+", '"+jumpurl+"')", 1000);
    }
    else{
        location.href=jumpurl;
    }
    }   
    timetojump(30, "{{ url_for('main.index')}}");
</script>
{% endblock %}