{% if current_user.can(Permission.FOLLOW) and user != current_user %}
    {% if not current_user.is_following(user) %}
        <a class="btn btn-primary" href="{{ url_for('main.follow', username=user.username) }}">Follow</a>
    {% else %}
        <a class="btn btn-primary" href="{{ url_for('main.unfollow', username=user.username) }}">Unfollow</a>
    {% endif %}
{% endif %}
<a href="{{ url_for('main.follow_list', username=user.username, tag='up')}}">Followers:</a><span class="badge rounded-pill bg-secondary">{{ user.up.count() }}</span>  <a href="{{ url_for('main.follow_list', username=user.username, tag='fan')}}">Followed:</a><span class="badge rounded-pill bg-secondary">{{ user.fan.count() }}</span>

{% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
|<span class="label label-default">Follows you</span>
{% endif %}