{% extends "base.html" %}

{% block title %}Flasky - Page Not Found{% endblock %}

{% block page_content %} <!--defined by base.html-->
<!-- <div class="time-reminder">
    <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
</div> -->
<div class="page-header">
    <h1>Hello, {% if not known %}Pleased to meet you!{% else %}Happy to see you again!{% endif %}!</h1>
    {% if current_user.is_authenticated %}
        Welcome, {{ current_user.username}}!
    {% else %}
        Be careful, stranger!
    {% endif %}
</div>

{% endblock %}

