{% extends "base.html" %} 
{% block title %}Flasky - {{ user.username }} {% endblock %} 
{% block page_content %}
<div class="row justify-content-center">
    <div class="col-2" >
            <img class= 'img-thumbnail img-fluid' style="height:auto;width:100%"src={{ avatar }}>
    </div>
    <div class="col-auto">
        <h1>{{ user.username.title() }}</h1>

        {% include '_follow.html' %}
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}{% endif %} {% if user.location %} From <a href="https://www.google.com/maps/search/{{ user.location }}">
                    {{ user.location }}
                </a> {% endif %}
        </p>
        {% endif %} {% if current_user.is_administrator() %}
        <p></p><a href="" mailto:{{ user.email }}>{{ user.email }}</a>
        <p>
            {% endif %} {% if user.about_me %}
            <p>{{ user.about_me }}</p>{% endif %}
            <p>
                Member since {{ moment(user.member_since).format('L') }} </p>
            Last seen {{ moment(user.last_seen).fromNow() }}
        </p>
    </div>
    <div class="w-100"></div>
    <div class="col-2">
        <a href="{{ url_for('auth.upload_avatar') }}" type="button" class="btn btn-outline-primary center-block">Upload avatar</a>
    </div>
    <div class="col-2">
        {% if user == current_user %} <a class="btn btn-outline-primary" href="{{ url_for('auth.edit_profile') }}" role="button"> Edit Profile </a> {% endif %}
    </div>
</div>

<h3>Post by you</h3>
{% include 'auth/_post.html' %}

{% endblock %}